* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    overflow-y: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-height: 500px;
}

h1, h2 {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
}

button:hover {
    background-color: #218838;
}

.mensagem {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
}
#lista-pessoas {
    list-style-type: nome;
    margin-top: 20px;
}

#lista-pessoas li {
    padding: 10px;
    line-height: 25px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista-pessoas button {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#lis-pessoas:hover {
    background-color: #c82333;
}

